@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
height: 100%;
}


body {
@apply bg-gradient-to-br from-sky-50 via-white to-rose-50;
font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  animation: blink 1.4s infinite both;
}

.dot1 {
  animation-delay: 0s;
}
.dot2 {
  animation-delay: 0.2s;
}
.dot3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% { opacity: 0.3; }
  20% { opacity: 1; }
  100% { opacity: 0.3; }
}


/* small custom styles */
/* .scrollbar-hide::-webkit-scrollbar { display: none; } */